.l-header__wrapper
  .container
    +logo()
    nav.l-nav
      ul
        li: a(href="#") Home
        li: a(href="#") About us
        li: a(href="#") Team
        li: a(href="#") Service
        li: a(href="#") Process
        li: a(href="#") Client
        li: a(href="#") Work
      span.l-meta
        span: img(src="img/icons/search.png" alt="search-button")
        span: img(src="img/icons/facebookicon.png" alt="facebook-icon")