extends ../base/layout

block main

  section.l-hero-banner
    include index-section/section-hero
  
  section.l-about
     include index-section/section-about

  section.l-service
    include index-section/section-service

  section.l-feature
    include index-section/section-feature

  section.l-team
    include index-section/section-team
  
  section.l-portfolio
    include index-section/section-portfolio

  section.l-case-study
    include index-section/section-case-study

  section.l-testimonials
    include index-section/section-testimonial

  section.l-contact-details
    include index-section/section-contact
