
.container {
  max-width: 1193px;
  max-height: 822px;
  margin: 0 auto;
}
.hero-title {
  color: #f00;
  font-family: lato;
  
}
.title-highlight {
  color: orange;
  font-family: lato;
  }
.hero-title__inverted {
  color: #000;
  font-family: lato;
}
.sm-text {
  font-family: lato;
  font-weight: bold;
  }
.sm-text__inverted {
 color:#fff;
}

