.btn-round {
  padding: 10px 40px;
  background: orange;
  border-radius: 25px; }

.btn-lg {
  width: 180px; }

.btn-med {
  width: 100px; }

.btn-txt {
  font-family: lato;
  font-weight: bold;
  color: white; }
