.layer-size
      .container
        .grid
          .grid__cell(class="1/2")

            header
              h2.hero-title Our Company
              span.title-highlight great service

            .container-saying
              p.sm-text__inverted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.

          .grid__cell(class="1/2")

            .container-box-right
              +descriptionList({
                imgName: 'icon-flag',
                imgTitle:'creative work'
                })
              +descriptionList({
                imgName: 'icon-pc',
                imgTitle:'creative work'
                })
              +descriptionList({
                imgName: 'icon-flag',
                imgTitle:'creative work'
                })
              +descriptionList({
                imgName: 'icon-human-face',
                imgTitle:'creative work'
                })
      

