.layer-size
    .container
      h1.hero-title.hero-title__center Business  <span class="title-highlight">Team</span>
      p.sm-text__inverted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.

      .container-img-left
        .grid
          .grid__cell(class="1/2") 
            img(src="img/people/girl01.png" alt="happy-girl")
            img(src="img/people/boy01.png" alt="serious-boy")
          .grid__cell(class="1/2")   
            img(src="img/people/girl02.png" alt="smiling-girl")
            img(src="img/people/girl03.png" alt="cute-girl")
