.layer-size
      .container
        img(src="img/misc/keyboard-typing.png" alt="keyboard-typing")
        img(src="img/misc/smiling-people.png" alt="smiling-people")
        img(src="img/misc/tablet-browsing.png" alt="tablet-browsing")
