.layer-size
      .container
        .grid
          .grid__cell(class="1/2")
            img(src="img/equipment/equipment01.png" alt="equipement1")
            h1.hero-title__inverted We have
            span.title-highlight Served

            .container-img
              img(src="img/equipment/equipment02.png" alt="equipment2")
              img(src="img/equipment/equipment03.png" alt="equipment3")
          
          .grid__cell(class="1/2")
            .container-paragraph
              p.sm-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.