.layer-size
      .container
        header
          h1.hero-title__inverted Client
          span.title-highlight Testimonials
        +testimonials({
          imgName: 'boy01'
        })
        +testimonials({
          imgName: 'girl01'
        })
