.layer-size
      .container
        .grid
          .grid__cell(class="1/2") 
            .container-img-left
              img(src="img/organisation.png" alt="organisation")
              +descriptionList({
              imgName: 'icon-flag',
              imgTitle:'creative'
              })
              +button({})

            .container-img-centre
              img(src="img/office.png" alt="office")
              +descriptionList({
              imgName: 'icon-human-face',
              imgTitle:'creative'
              })
              +button({})
                
                  
        
          .grid__cell(class="1/2")  
            .container-right
              .box-list
                header.box-list__header
                  h1.hero-title__inverted Welcome
                  span.title-highlight for professional

                .box-list__body
                  p.sm-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.
                  
                  .list-check
                    ul.list-check__list
                      li.list-check__item Lorem ipsum dolor sitconsectetur adipiscing  ipsum dolor sitconsectetur adipiscing
                      li.list-check__item Lorem ipsum dolor sit ametadipiscing 
                      li.list-check__item Lorem ipsum dolor sitconsectetur adipiscing  ipsum dolor sitconsectetur adipiscing
                      li.list-check__item Lorem ipsum dolor sitconsectetur adipiscing  ipsum dolor sitconsectetur adipiscing
                      li.list-check__item Lorem ipsum dolor sitconsectetur adipiscing  ipsum dolor sitconsectetur adipiscing
