.layer-size
  .l-hero-banner__wrapper
  
    .container

      .grid
        .grid__cell(class="1/2")

          .hero-box
            h1.hero-title Creative idea For <span class="title-highlight">Professionals</span>
            p.hero-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.
            +button({}).btn-lg
