.layer-size
      .l-banner__wrapper
        .container
          .grid
            .grid__cell(class="1/2")
              header.layer-about
                h2.hero-title__inverted Welcome
                span.title-highlight for professional

                img.small-item(src="img/icons/quotes2.png" alt="greyquotes")
                .container-saying
                  p.md-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.
                  p.sm-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.
                  +button({}).btn-med
            .grid__cell(class="1/2")
              .conntainer-img
                img.img-about(src="img/meeting.png" alt="meeting")
                p.text-img Lorem ipsum dolor sit ametelit, sed do eiusmod temporesse.